@import "../styles/main";

#header {
  background: $blue;
}

.header-bar {
  background: $header-background;
  margin-top: 0;
  margin-bottom: 0;
}

.icons {
  color: $white;
  font-size: $font-size-med;
  cursor: pointer;
}

i {
  margin-right: 1em;
}

#toggle {
  font-size: $font-size-med;
}

img {
  height: 2em;
  margin-right: 1em;
}

#icons {
  text-align: right;
}
