<app-infokit #info></app-infokit>
<mat-toolbar id="header">
    <div class="col-xs-1">
        <button type="button" id="toggle" class="btn btn-default btn-lg toggle-button" aria-label="Left Align" (click)="navbartoggle()">
          &#9776;
        </button>
    </div>
    <div class="col-md-10 text-center">
        <span class="header-white-1 text-center">{{language?.headings.titleLeft}}</span><span class="header-2 text-center">{{language?.headings.titleRight}}</span>
    </div>
  <div class="icons">
    <i matTooltip="Update Profile" class="fa fa-pencil-square-o" (click)="editProfile()"></i>
    <i matTooltip="Infokit" class="fa fa-archive" (click)="info.pop()"></i>
    <i matTooltip="Logout" class="fa fa-power-off" (click)="logout()"></i>
  </div>
</mat-toolbar>

