<mat-toolbar color="primary">
    <div class="col-xs-1">
        <button type="button" class="btn btn-default btn-lg toggle-button" aria-label="Left Align" (click)="navbartoggle()">
            <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
        </button>
    </div>
    <div class="col-md-10 text-center">
        <span class="header-white-1 text-center">{{language?.headings.titleLeft}}</span><span class="header-2 text-center">{{language?.headings.titleRight}}</span>
    </div>
    <button type="button" class="btn btn-default logout-button" aria-label="Left Align" (click)="logout()">{{language?.messages.logoutButton}}</button>      
</mat-toolbar>
