$header-font-weight: 900;
$header-font-size: 200%;
$header-left-color: #04529D;
$header-right-color: #FF2C06;
$headerbar-background: #466BC1;
$button-hover-color: #3859A5;
$button-padding: 12px;
$logout-button-color: #FFFFFF;
