<div class="container-fluid">
  <h4 class="sub-heading-1 text-center"> {{headingBase}} <span class="heading-info"> {{headingInfo}} </span></h4>
  <div class="row">
    <div class="meds">
      <div *ngFor="let med of medicines">
        <img src="assets/img/Match-meds/{{med}}.PNG" class="medicine">
        <p class="text-center"> {{med}} </p>
      </div>
    </div>
    <div class="content" (window:resize)="onResize($event)">
      <canvas (mouseleave)="mouseLeave()" (mousedown)="mouseClick($event)" (mouseup)="mouseRelease($event)" (mousemove)="mousePos($event)" #canv></canvas>
    </div>
    <div class="meds-description">
      <div>
        <p class="text-center des" *ngFor="let des of display"> {{des}} </p>
      </div>
    </div>
    <div class="match-button" [hidden]="firstComplete">
      <button class="btn button-branding-blue" (click)="reset()"> Reset </button>
    </div>
    <div class="match-button" [hidden]="!firstComplete">
      <button class="btn button-branding-green" (click)="submit()"> Next </button>
    </div>
  </div>
</div>
<button-nav nexturl="/meds-n-labels/activity-2" prevurl="/malaria-101/activity-3" [completed]="completed" [complete]="activityComplete"></button-nav>
