<div [className]="position">
  <div class="swal2-icon swal2-success swal2-animate-success-icon">
    <div class="swal2-success-circular-line-left"></div>
    <span class="swal2-success-line-tip swal2-animate-success-line-tip"></span>
    <span class="swal2-success-line-long swal2-animate-success-line-long"></span>
    <div class="swal2-success-ring"></div>
    <div class="swal2-success-fix"></div>
    <div class="swal2-success-circular-line-right"></div>
  </div>
  <div class="text-center">
    <div class="success-message">
      <H2> {{language?.message1}} {{stageName}} {{language?.message2}} </H2>
    </div>
    <a routerLink="/menu" class="btn btn-primary"> {{language?.buttoninfo}} </a>
  </div>
</div>
