<span [className]="position + ' nav-back'" *ngIf="prevurl">
    <button md-fab class="prev" (click)="prev()">
        <i class="material-icons">arrow_back</i>
    </button>
</span>    
<span class="nav-forward" *ngIf="completed && nexturl">
    <button md-fab class="next" (click)="next()">
        <i class="material-icons">arrow_forward</i>
    </button>
</span>
<span class="nav-forward bounce" *ngIf="!completed && complete && nexturl">
    <button md-fab class="next" (click)="next()">
        <i class="material-icons">arrow_forward</i>
    </button>
</span> 
