@import "../modules/all";

// Font Weights
$regular: 600;
$bold: 900;

//Spacing
$padding-relative-large: 15%;
$padding-relative-med: 10%;
$padding-relative-small: 5%;
$padding-large: 15px;
$padding-med: 10px;
$padding-small: 5px;
//Z-Index
$z-index-top: 2000;
$z-index-middle: 1000;
$z-index-bottom: 0;

$profile-pic-height: 185px;
$profile-pic-width: 200px;
$profile-pic-padding: $padding-large;
$peace-corps-left-banner-height: 1.6em;

//sidebar
$header-background: $blue;
$side-bar-header-padding: $padding-small;
$sidebar-background: $white;
$sidebar-font-color: $black;
$sidebar-width: 250px;

//Headings
$header-left-color: $blue;
$header-right-color: $red;
$header-font-size: $font-size-large-relative;
$desc-font-size: $font-size-med-relative;

//Border-radius
$border-radius: 10px;

//margin
$margin-med: 10px;
$margin-large: 20px;

//game-wrapper component margin
$margin-bottom: 100px;

//stop-the-breed game
$margin-left: -50px;
