@import "../modules/all";

.toggle-button {
    @include button($transparent, $hover-blue, $hover-blue);
}

.logout-button {
    @include button($transparent, $hover-blue, $hover-blue);
    color: $white;
    float: right;
}

.info-button {
    white-space: normal;
    height: 100px;
}

.button-branding-red {
    @include branding('pattern-red.png');
}

.button-branding-blue {
    @include branding('pattern-blue.png');
}

.button-branding-green {
    @include branding('pattern-green.png');
}

.button-branding-orange {
    @include branding('pattern-orange.png');
}
