@import "../styles/main";

.profile-pic {
    max-height: $profile-pic-height;
    max-width: $profile-pic-width;
    padding: $profile-pic-padding;
}

.profile {
    font-size: $font-size-small;
}

.nav {
    a {
        cursor: pointer;
    }
}

li {
    padding: 10px;
}
