<div class="container-fluid">
  <div class="sidebar" [@toggleNav]="state">
    <div class="sidebar-header">
      <button type="button" class="btn btn-default btn-lg toggle-button" aria-label="Left Align" (click)="toggle()">
        <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
      </button>
    </div>
    <ul class="nav text-center">
      <div class="profile">
        <img  src="assets/img/profilepic.png" class="profile-pic img-circle">
        <p> {{username}} </p>
      </div>
      <li><a routerLink="/intro">{{language?.links.introduction}}</a></li>
      <li><a routerLink="/malaria101">{{language?.links.malaria101}}</a></li>
      <li><a routerLink="/medicationlabels">{{language?.links.medsAndLabels}}</a></li>
      <li><a routerLink="/pcpolicy">{{language?.links.pcpolicy}}</a></li>
      <li><a routerLink="/infokit">{{language?.links.infokit}}</a></li>
    </ul>
  </div>
</div>
