<p class="title">Main Menu</p>
<div class="menu">
    <div class="col-lg-5 col-lg-offset-4">
        <div class="row">
            <div class="menu-button">
                <img class="hex" src="../../assets/img/intro.png" (click)="introPage()">
                <button class="but intro-btn" (click)="introPage()">
                    Introduction
                </button>
                <div class="outer-circle intro-outer-circle">
                    <div class="inner-circle intro-inner-circle">
                        <div *ngFor="let level of createRange(3); let idx=index;" class="arc level{{idx+1}}" [ngClass]="stage>1 || (stage===1 && activity>=idx+1) ? 'completed' : ''"></div>
                        <div class="activity">{{stage>1 ? 3 : (stage<1 ? 0 : activity)}}/3</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="menu-button">
                <img class="hex" src="../../assets/img/malaria-101.png">
                <button class="but malaria-btn">
                    Malaria-101
                </button>
                <div class="outer-circle malaria-outer-circle">
                    <div class="inner-circle malaria-inner-circle">
                        <div *ngFor="let level of createRange(3); let idx=index" class="arc level{{idx+1}}" [ngClass]="stage>2 || (stage===2 && activity>=idx+1) ? 'completed' : ''"></div>
                        <div class="activity">{{stage>2 ? 3 : (stage<2 ? 0 : activity)}}/3</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="menu-button">
                <img class="hex" src="../../assets/img/meds.png">
                <button class="but med-btn">
                    Medications & Labels
                </button>
                <div class="outer-circle med-outer-circle">
                    <div class="inner-circle med-inner-circle">
                        <div *ngFor="let level of createRange(3); let idx=index" class="arc level{{idx+1}}" [ngClass]="stage>3 || (stage===3 && activity>=idx+1) ? 'completed' : ''"></div>
                        <div class="activity">{{stage>3 ? 3 : (stage<3 ? 0 : activity)}}/3</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="menu-button">
                <img class="hex" src="../../assets/img/pc-policy.png">
                <button class="but pc-policy-btn">
                    Peace Corps Policy
                </button>
                <div class="outer-circle pc-policy-outer-circle">
                    <div class="inner-circle pc-policy-inner-circle">
                        <div *ngFor="let level of createRange(3); let idx=index" class="arc level{{idx+1}}" [ngClass]="stage>4 || (stage===4 && activity>=idx+1) ? 'completed' : ''"></div>
                        <div class="activity">{{stage>4 ? 3 : (stage<4 ? 0 : activity)}}/3</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="menu-button">
                <img class="hex" src="../../assets/img/unlocked.png">
                <button class="but unlocked-btn">
                    Locked stage
                </button>
                <div class="outer-circle unlocked-outer-circle">
                    <div class="inner-circle unlocked-inner-circle">
                        <div *ngFor="let level of createRange(3); let idx=index" class="arc level{{idx+1}}" [ngClass]="stage===5 && activity>=idx+1 ? 'completed' : ''"></div>
                        <div class="activity">{{stage===5 ? activity : 0}}/3</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

