@import "../styles/main";

video {
    border: 3px solid $dark-grey;
    background-color: $black !important;
}

.pieces {
    height: 125px;
    width: 115px;
    border-radius: 25px;
}

.game-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.lifecycle-imgs {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

@mixin text($topPos, $leftPos) {
    position: absolute;
    width: 15%;
    top: $topPos;
    left: $leftPos;
}

@mixin rotate($rotation) {
    transform: rotate($rotation);
    -moz-transform: rotate($rotation);
    -webkit-transform: rotate($rotation);
    -o-transform: rotate($rotation);
    -ms-transform: rotate($rotation);
}

@mixin arrow($topPos, $leftPos, $rotation) {
    width: 1.5%;
    height: auto;
    position: absolute;
    top: $topPos;
    left: $leftPos;
    @include rotate($rotation);    
}

@mixin drag-drop($topPos, $leftPos) {
    border-radius: 25px;
    border: 2px solid $black;
    width: 9%;
    height: 19%;
    position: absolute;
    top: $topPos;     
    left: $leftPos; 
}

.text-1 {
    @include text(65%, 20%);
    text-align: right;
}

.text-2 {
    @include text(45%, 9%);
    text-align: right;
}

.text-3 {
    @include text(22%, 8%);
    text-align: right;
}

.text-4 {
    @include text(25%, 35%);
    text-align: right;
}

.text-5 {
    @include text(22%, 65%);
}

.text-6 {
    @include text(45%, 65%);
}

.arrow-1 {
    @include arrow(35%, 59%, 180deg);
}

.arrow-2 {
    @include arrow(35%, 29%, 0deg);
}

.arrow-3 {
    @include arrow(15%, 37%, 45deg);
}

.arrow-4 {
    @include arrow(15%, 52%, 135deg);
}

.arrow-5 {
    @include arrow(55%, 37%, -45deg);
}

.drop-1 {
    @include drag-drop(5%, 40%);
}

.drop-2 {
    @include drag-drop(15%, 25%);
}

.drop-3 {
    @include drag-drop(15%, 55%);
}

.drop-4 {
    @include drag-drop(40%, 25%);
}

.drop-5 {
    @include drag-drop(40%, 55%);
}

.drop-6 {
    @include drag-drop(55%, 40%);
}

.drag-1 {
    @include drag-drop(80%, 25%);
}

.drag-2 {
    @include drag-drop(80%, 40%);
}

.drag-3 {
    @include drag-drop(80%, 55%);
}

.drag-4 {
    @include drag-drop(110%, 25%);
}

.drag-5 {
    @include drag-drop(110%, 40%);
}

.drag-6 {
    @include drag-drop(110%, 55%);
}
