<div class="header">
  <app-header (togglenavbar)="nav.toggle()"> </app-header>
</div>
<div class="container-fluid">
  <app-navbar #nav (toggleposition)="toggle()" (infopop)="info.pop()"> </app-navbar>
  <app-infokit #info > </app-infokit>
  <div class="row">
    <div [className]="position">
      <div class="content">
        <div class="row">
          <div class="col-xs-4 col-xs-offset-2">
            <div dnd-droppable class="panel panel-primary" [allowDrop]="allowDropFunction(box1)" (onDropSuccess)="addTobox($event,box1)">
              <div class="panel-heading">
                Do
              </div>
              <div class="panel-body">
                <div *ngFor="let item of do"><div class="panel-body">  {{item.description}} </div></div>
              </div>
            </div>
          </div>
          <div class="col-xs-4">
            <div dnd-droppable class="panel panel-danger" [allowDrop]="allowDropFunction(box2)" (onDropSuccess)="addTobox($event,box2)">
              <div class="panel-heading">
                Dont
              </div>
              <div class="panel-body">
                <div *ngFor="let item of dont"><div class="panel-body">  {{item.description}} </div></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 col-xs-offset-3">
            <div class="panel panel-success">
              <div class="panel-heading">Available to drag</div>
              <div class="panel-body">
                <div *ngFor="let item of dosAndDonts" class="panel panel-default col-xs-6" dnd-draggable [dragData]=items>
                  <div class="panel-body">  {{item.description}} </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <app-activityindicator></app-activityindicator>
      </div>
    </div>
  </div>
</div>
