<div class="header">
  <app-header (togglenavbar)="nav.toggle()"></app-header>
</div>
<div class="container-fluid">
  <app-navbar #nav (toggleposition)="toggle()"></app-navbar>
  <div class="row">
    <div [className]="position + ' pc-policy-body text-center'">
      <H1> {{language?.headings.introduction}} </H1>
      <p class="lead"> {{language?.descriptions.bodyContent1}} <Br> {{language?.descriptions.bodyContent2}}</p>
      <p class="lead text-primary"><strong> {{language?.descriptions.bodyContent3}} </strong></p>
      <img src="assets/img/mailpolicy.PNG" class="img-responsive center-block mail-policy-image">
      <button type="button" class="btn btn-primary btn-lg" (click)="mail()"> {{language?.messages.mailButton}} </button>
      <p>{{language?.descriptions.bodyContent4 +' '+ email}}</p>
    </div>
  </div>
</div>
