<div class="row">
    <div class="col-lg-5 col-lg-offset-4">
        <h2>Q: What is Malaria?</h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-5 col-md-offset-4">
        <blockquote class="rectangle-speech-border">
            <p class="lead-title">
                ma.lar.i.a
            </p>
            <p class="lead-sub-heading">
                noun
            </p>
            <p class="lead">
              An intermittent and remittent fever caused by a protozoan parasite that invades the red blood cells. The parasite is transmitted by mosquitoes in many tropical and subtropical regions.
            </p>
        </blockquote>
        <img class="mosquito" src="../../assets/img/cartoon-mosquito.png">
    </div>
</div>
<div class="row" [hidden]="!activityComplete">
    <button class="arrow-green bounce col-lg-5 col-md-offset-6">
        Next
    </button>
</div>
