<div class="container-fluid">
  <div *ngIf="loggedIn">
    <div class="header">
      <app-header (toggleNavbar)="nav.toggle()"> </app-header>
      <app-infokit #info > </app-infokit>
      <app-navbar #nav (togglePosition)="toggle(); ind.activityToggle()" (infoPop)="info.pop()"> </app-navbar>
      <div class="footer">
        <app-activityindicator #ind></app-activityindicator>
      </div>
    </div>
  </div>
  <div [className]="position">
    <router-outlet></router-outlet>
  </div>
</div>
