<div class="container-fluid">
	<app-navbar #nav (togglePosition)="toggle()" (infoPop)="info.pop()"> </app-navbar>
  	<app-infokit #info > </app-infokit>
	<div class="row">
		<div [className]="position + ' introbody text-center'">
			<H1> {{language?.headings.introduction}} </H1>
			<H2> {{language?.headings.welcome}} </H2>
			<p class="lead"> {{language?.descriptions.bodyContent}} </p>
			<button type="button" class="btn btn-primary btn-lg"> {{language?.messages.nextButton}} </button>
		</div>
	</div>
</div>

