@import “../variables”;

.logo{
  max-width: 20%;
}

.titleleft{
  color : $header-left-color;
  font-weight: $header-font-weight;
  font-size: $header-font-size;
}

.titleright{
  color : $header-right-color;
  font-weight: $header-font-weight;
  font-size: $header-font-size;
}

.statement{
  color : #9C9999;
  font-size: 150%;
}
