$header-font-weight: 900;
$header-font-size: 200%;

.logo{
	height: 200px;
}

.titleleft{
	color : #04529D;
	font-weight: $header-font-weight;
	font-size: $header-font-size;
}

.titleright{
	color : #FF2C06;
	font-weight: $header-font-weight;
	font-size: $header-font-size;
}

.statement{
	color : #9C9999;
	font-size: 150%;
}
