<div class="container">

	<div class="page-header text-center">
		<h1>Welcome {{email}}!!</h1>
		<button (click)="logout()" class="btn btn-default btn-sm">Logout</button>
	</div>

	<!--div class="row">

		< LOCAL INFORMATION -->
		<!--div class="col-sm-6">
			<div class="well">
				<h3><span class="fa fa-user"></span> Local</h3>

					<p>
						<strong>id</strong><br>
						<strong>email</strong><br>
						<strong>password</strong>
					</p>

			</div>
		</div-->

        <!-- GOOGLE INFORMATION -->
        <!--div class="col-sm-6">
            <div class="well">
                <h3 class="text-danger"><span class="fa fa-google-plus"></span> Google</h3>

                <p>
                    <strong>id</strong><br>
                    <strong>token</strong><br>
                    <strong>email</strong><br>
                    <strong>name</strong>
                </p>

            </div>
        </div>

	</div-->

</div>
