/* You can add global styles to this file, and also import other style files */
@import 'custom-theme';
@import "app/styles/main";


body {
    overflow-x: hidden;
    background: white;
    color: black;
}

.certificateClass {
    .mat-dialog-container {
      background-image: url("assets/img/certificateBackground.jpg");
      background-size: cover;
    }
}
.certificateBackdrop {
    background-image: url("assets/img/certificateBackdrop.jpg");
}

@media print {
  * {
    -webkit-print-color-adjust: exact;
  }

  body * {
    visibility: hidden;
  }
  #body {
    visibility: visible;
    background-image: url("assets/img/certificateBackground.jpg") !important;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  #body * {
    visibility: visible;
  }
  #home, #print{
    visibility: hidden;
    display: none;
  }
}
@page {
    size: auto;
    margin: 0;
}

.moz {
  display: block;
  width: 25px;
  margin: 0;
  padding: 0;
  position: absolute;
}


#spray, #net {
  position: absolute;
  display: none;
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

#net {
  height: 5em;
}

#human {
  display: block;
  width: 10%;
  margin: 0;
  padding: 0;
  position: relative;
  top: 50%;
  left: 80%;
}

.text {
  position: absolute;
  top: 25px;
}
.custom-toastr-class {
    top: $margin-top;
    right: $margin-med;
}

.badgeBackground {
    background-image: url("assets/img/newBadgeBackground.jpg");
}

