<mat-toolbar id="header" class="row">
  <div class="col-md-8 col-md-offset-2 text-center">
    <span class="header-white-1 text-center">{{header?.headings.titleLeft}}</span><span class="header-2 text-center">{{header?.headings.titleRight}}</span>
  </div>
  <div class="col-md-2">
    <img src="assets/img/leftBanner.png" id="banner">
  </div>
</mat-toolbar>
<div class="col-xs-8 col-xs-offset-2 text-center">
  <h3 class="form-signin-heading">{{language?.messages.heading}}</h3>
    <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</div>
    <div class="alert alert-success" *ngIf="successMessage">{{successMessage}}</div>

    <form [formGroup]="resetForm" (ngSubmit)="onSubmit(resetForm.value)" id="resetPassword">
      <div class="form-container">
      <mat-form-field appearance="standard">
        <mat-icon matSuffix>mail_outline</mat-icon>
            <input matInput name="email" placeholder={{language?.placeHolders.email}} [formControl]="resetForm.controls['email']">
        <mat-error *ngIf="resetForm.controls['email'].hasError('required')">{{authMessages?.errors.emailReq}}</mat-error>
        <mat-error *ngIf="resetForm.controls['email'].hasError('pattern')">{{authMessages?.errors.emailInvalid}}
        </mat-error>
      </mat-form-field>
      </div>
    </form>

  <button type="submit" form="resetPassword"
          [disabled]="!resetForm.valid"
          class="button-branding-red btn submit">{{language?.messages.resetButtonMessage}}
  </button>
  <a href="/login">
    <button class="button-branding-blue btn submit">{{language?.messages.loginButtonMessage}}</button>
  </a>
</div>
