@import “../variables”;

.header-1 {
    color : #04529D;
    font-weight: $header-font-weight;
    font-size: $header-font-size;
}

.header-2 {
    color : #FF2C06;
    font-weight: $header-font-weight;
    font-size: $header-font-size;
}

.sub-heading-1 {
    color : #4A4A49;
    font-weight: $header-font-weight;
}

.desc {
    color : #9C9999;
    font-size: 150%;
}

.pcprepkitlogo {
    width:25%;
    height: auto;
}

.form-control-feedback {
    color: $error-message-color;
}
