<mat-toolbar id="header" class="row">
  <div class="col-md-8 col-md-offset-2 text-center">
    <span class="header-white-1 text-center">{{header?.headings.titleLeft}}</span><span class="header-2 text-center">{{header?.headings.titleRight}}</span>
  </div>
  <div class="col-md-2">
    <img src="assets/img/leftBanner.png" id="banner">
  </div>
</mat-toolbar>

<div class="col-xs-8 col-xs-offset-2 text-center">
  <h3 class="form-signin-heading">{{language?.messages.heading}}</h3>

  <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</div>
    <div class="alert alert-success" *ngIf="successMessage">{{successMessage}}</div>

    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit(resetPasswordForm.value)" id="resetForm">
      <div class="form-container">
        <mat-form-field appearance="standard">
          <mat-icon class="toggleViewPassword" matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            <input matInput type="password" [type]="hide ? 'password' : 'text'" name="password" placeholder={{language?.placeHolders.password}} [formControl]="resetPasswordForm.controls['password']">
          <mat-error *ngIf="resetPasswordForm.controls['password'].hasError('required')">{{authMessages?.errors.passwordReq}}</mat-error>
          <mat-error *ngIf="resetPasswordForm.controls['password'].hasError('minlength')">{{authMessages?.errors.passwordLength}}</mat-error>
          <mat-error *ngIf="resetPasswordForm.controls['password'].hasError('pattern')">{{authMessages?.errors.passwordPattern}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard">
          <mat-icon class="toggleViewPassword" matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
          <input matInput type="password" [type]="hide ? 'password' : 'text'" name={{language?.placeHolders.confirmPassword}} placeholder="Confirm password" [formControl]="resetPasswordForm.controls['confirmPassword']">
          <mat-error *ngIf="resetPasswordForm.controls['confirmPassword'].hasError('required')">{{authMessages?.errors.passwordReq}}</mat-error>
          <mat-error *ngIf="resetPasswordForm.controls['confirmPassword'].hasError('MatchPassword')">{{authMessages?.errors.passwordMatch}}</mat-error>
        </mat-form-field>
      </div>
    </form>

    <button type="submit" form="resetForm" [disabled]="!resetPasswordForm.valid" class="btn button-branding-red submit">{{language?.messages.buttonMessage}}</button>

</div>
