<div class="col-sm-6 col-sm-offset-3">

    <h1>Reset Password</h1>

    <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</div>
    <div class="alert alert-success" *ngIf="successMessage">{{successMessage}}</div>  

    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit(resetPasswordForm.value)">
        <div class="form-group input-group" [ngClass]="{'has-error':!resetPasswordForm.controls['password'].valid && resetPasswordForm.controls['password'].dirty}">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>       
            <input type="password" class="form-control" name="password" placeholder="New password" [formControl]="resetPasswordForm.controls['password']">
        </div>
        <div class="form-control-feedback">
            <p *ngIf="resetPasswordForm.controls['password'].hasError('required') && (resetPasswordForm.controls['password'].dirty)">Password is required</p>
            <p *ngIf="resetPasswordForm.controls['password'].hasError('pattern') && (resetPasswordForm.controls['password'].dirty)">Password is invalid</p>        
        </div>
        <div class="form-group input-group" [ngClass]="{'has-error':!resetPasswordForm.controls['confirmPassword'].valid && resetPasswordForm.controls['confirmPassword'].dirty}">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>       
            <input type="password" class="form-control" name="confirmPassword" placeholder="Confirm password" [formControl]="resetPasswordForm.controls['confirmPassword']">
        </div>    
        <div class="alert alert-danger" *ngIf="resetPasswordForm.controls['confirmPassword'].hasError('MatchPassword') && resetPasswordForm.controls['confirmPassword'].dirty">The passwords don't match</div>
        <div class="form-group">
            <button type="submit" [disabled]="!resetPasswordForm.valid" class="form-control btn btn-primary btn-lg">Reset Password</button>
        </div>    
    </form>
</div>
