$black: #000000;
$white: #FFFFFF;
$blue: #466BC1;
$hover-blue: #3859A5;
$red: #ED4337;
$grey: #4A4A49;
$yellow: #fff000;
$green: #037d0d;
$dull-grey: #9C9999;
$light-red: #D9534F;
$transparent: transparent;
$dark-grey: #ECECEC;
$grey-background-alpha: rgba(0, 0, 0, 0.7);
