$black: #000000;
$white: #FFFFFF;
$blue: #002664;
$light-blue: #3095B4;
$hover-blue: #3859A5;
$red: #B71234;
$grey: #4A4A49;
$yellow: #fff000;
$green: #34B233;
$pale-green: rgba(52, 178, 51, 0.4);
$dull-grey: #9C9999;
$light-red: #D9534F;
$transparent: transparent;
$dark-grey: #ECECEC;
$grey-background-alpha: rgba(0, 0, 0, 0.7);
$orange: #DC5034;
$dark-orange: #EBBB67;
$light-grey: #75787B;
$navy-blue: #1E1656;

$light-green: #00F977;
$pale-red: #EB5A61;
$light-teal: #017E84;
$dark-yellow: #F2AE3E;
$pale-white: #BEBEBE;
$maroon: #E13946;
$dark-teal: #07717E;
$light-yellow: #F09938;
