$black: #000000;
$white: #FFFFFF;
$blue: #466BC1;
$light-blue: #3095B4;
$hover-blue: #3859A5;
$red: #ED4337;
$grey: #75787B;
$yellow: #fff000;
$green: rgba(52, 178, 51, 0.4);
$pale-green: #C7fCC9;
$dull-grey: #9C9999;
$light-red: #D9534F;
$transparent: transparent;
$dark-grey: #ECECEC;
$grey-background-alpha: rgba(0, 0, 0, 0.7);
$orange: #FAE3BB;
$dark-orange: #EBBB67;
$yellow: #FBF38F;
$orange: #FAE3BB;
$dark-orange: #EBBB67;

$intro-color: #00F977;
$malaria-color: #EB5A61;
$med-color: #017E84;
$pc-policy-color: #F2AE3E;
$activity-incomplete: #BEBEBE;
$malaria-outer-circle-color: #E13946;
$med-outer-circle-color: #07717E;
$pc-outer-circle-policy-color: #F09938;
