$black: #000000;
$white: #FFFFFF;
$blue: #002664;
$light-blue: #3095B4;
$hover-blue: #3859A5;
$red: #B71234;
$grey: #4A4A49;
$yellow: #fff000;
$green: #34B233;
$pale-green: rgba(52, 178, 51, 0.4);
$dull-grey: #9C9999;
$light-red: #D9534F;
$transparent: transparent;
$dark-grey: #ECECEC;
$grey-background-alpha: rgba(0, 0, 0, 0.7);
$orange: #DC5034;
$dark-orange: #EBBB67;
$light-grey: #75787B;
$navy-blue: #1E1656;

$intro-color: #00F977;
$malaria-color: #EB5A61;
$med-color: #017E84;
$pc-policy-color: #F2AE3E;
$activity-incomplete: #BEBEBE;
$malaria-outer-circle-color: #E13946;
$med-outer-circle-color: #07717E;
$pc-outer-circle-policy-color: #F09938;
$prevent-outer-circle-color: #F05994;
$prevent-color: #F0538E;
