$header-font-weight: 900;
$header-font-size: 200%;

.registrationbox{
	text-align: center;
}

.header-1 {
	color : #04529D;
	font-weight: $header-font-weight;
	font-size: $header-font-size;
}

.header-2 {
	color : #FF2C06;
	font-weight: $header-font-weight;
	font-size: $header-font-size;
}
