@import “../variables”;

.registration_box{
  text-align: center;
}

.header-1 {
  color : #04529D;
  font-weight: $header-font-weight;
  font-size: $header-font-size;
}

.header-2 {
  color : #FF2C06;
  font-weight: $header-font-weight;
  font-size: $header-font-size;
}
