<div class="game-container">
    <img class="lifecycle-imgs" *ngFor="let cards of createRange(5); let idx = index" class="arrow-{{idx+1}}" src="../../../../assets/img/red-up-arrow.png">

    <div *ngFor="let cards of createRange(6); let idx = index" [id]="idx + 1" class="drop-{{idx+1}}" (drop)="drop($event)" (dragover)="allowDrop($event)">
    </div>
    <div *ngFor="let card of labelsArr; let idx = index" class="text-{{idx+1}}">
        <p>{{card}}</p>
    </div>
    <div *ngFor="let card of solnArr; let idx = index" class="drag-{{idx+1}}" (drop)="drop($event)" (dragover)="allowDrop($event)">
        <img class="lifecycle-imgs pieces" src="../../../../assets/img/{{card}}" draggable="true" (dragstart)="drag($event)" id="drag{{idx+1}}">
    </div>
</div>
<div class="prog-btns">
    <button prev [className]="position + ' dnd-red'">
        Prev
    </button>
    <button next [hidden]="!activityComplete" class="dnd-green bounce">
        Next
    </button>    
</div>

