$error-message-color: #ED4337;
$headerbar-header-left-color: #FFFFFF;
$header-background: #466BC1;
$side-bar-header-padding: 4px;
$profile-pic-height: 185px;
$profile-pic-width: 200px;
$profile-pic-padding: 15px;
$sidebar-background: #FFFFFF;
$sidebar-width: 200px;
$font-black: #000000;
